autopep8==2.3.1
certifi==2024.8.30
chardet==5.2.0
configparser==7.1.0
idna==3.10
praw==7.7.1
prawcore==2.4.0
pycodestyle==2.12.1
requests==2.32.3
six==1.16.0
update-checker==0.18.0
urllib3==2.2.2
websocket-client==1.8.0
