autopep8==2.1.2
certifi==2024.2.2
chardet==5.2.0
configparser==7.0.0
idna==3.7
praw==7.7.1
prawcore==2.4.0
pycodestyle==2.11.1
requests==2.32.2
six==1.16.0
update-checker==0.18.0
urllib3==2.2.1
websocket-client==1.8.0
